<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<div class=" flex-r container" style="padding: 0;">
    <div class="flex-r login-wrapper">
        <div class="login-text">
            <div class="logo">
                <span><i class="fab fa-speakap"></i></span>
                <span> QDT</span>
            </div>
            <h1>Đăng Ký</h1>
            <form  [formGroup]="this.formupdate" class="flex-c">

                <mat-radio-group formControlName="collect" aria-label="Select an option">
                    <mat-radio-button value="Tutor">Tutor</mat-radio-button>
                    <mat-radio-button value="User">User </mat-radio-button>
                </mat-radio-group>
                <div class="input-box">
                    <span class="label">Name</span>
                    <div class=" flex-r input">
                        <input formControlName="name" type="text" placeholder="Full Name">
                        <i class="fas fa-at"></i>
                    </div>
                </div>
                <div class="input-box">
                    <span class="label">Email</span>
                    <div class="flex-r input">
                    <input formControlName="email" type="text" placeholder="name@abc.com">
                    <i class="fas fa-at"></i>
                </div>

                </div>


                <div class="input-box">
                    <span class="label">Password</span>
                    <div class="flex-r input">
                        <input formControlName="password" type="password" placeholder="8+ (a, A, 1, #)">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>

                <div class="check">
                    <input type="checkbox" name="" id="">
                    <span>Đồng ý với các điều khoản của QDT</span>
                </div>

                <input class="btn" (click)="addData();onSignup(this.formupdate.value.email,this.formupdate.value.password)" value="Tạo tài khoản">
                <span class="extra-line">
            <span>Bạn đã có tài khoản?</span>
                <a [mat-dialog-close]="" (click)="open()" style="margin-left: 10px;cursor: pointer;">Đăng nhập</a>
                </span>
            </form>

        </div>
    </div>
</div>