

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  
  .flex-r,
  .flex-c {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .flex-c {
    flex-direction: column;
  }
  .flex-r {
    flex-direction: row;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    padding: 20px 10px;
    background: #e5e5e5;
  }
  
  .login-text {
    background-color: #f6f6f6;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    padding: 10px 20px;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  .logo span,
  .logo span i {
    font-size: 25px;
    color: #069D86;
  }
  
  .login-text h1 {
    font-size: 25px;
  }
  .login-text p {
    font-size: 15px;
    color: #000000b2;
  }
  
  form {
    align-items: flex-start !important;
    width: 100%;
    margin-top: 15px;
  }
  
  .input-box {
    margin: 10px 0px;
    width: 100%;
  }
  .label {
    font-size: 15px;
    color: black;
    margin-bottom: 3px;
  }
  .input {
    background-color: #f6f6f6;
    padding: 0px 5px;
    border: 2px solid rgba(216, 216, 216, 1);
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
  }
  
  input {
    border: none;
    outline: none;
    padding: 10px 5px;
    background-color: #f6f6f6;
    flex: 1;
  
  }
  .input i {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .check span {
    color: #000000b2;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .btn {
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 15px;
    background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  
  .btn:hover {
    transform: translateY(-2px);
  }
  .extra-line {
    font-size: 15px;
    font-weight: 600;
  }
  .extra-line a {
    color: #0095b6;
  }
  .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }
    ::ng-deep .mat-dialog-container {
     padding: 0 0 10px;
     margin: 0;
   }
   ::ng-deep .flex-r.container {
     min-height: 68vh;
   }
   span.icon{
    background-image: url(../../../assets/images/gg.jpg) ;
    display: inline-flex;
    vertical-align: middle;
    padding-left: px;
    width: 42px;
    height: 42px;
    background-size: cover;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
}
#customBtn {
    display: inline-block;
    color: black;
    width: 100%;
    border-radius: 26px;
    border: solid 1px white;
    position: relative;
    background-color: orange;
    margin-top: 10%;
  }
 #customBtn:hover {
    cursor: pointer;}