.layout{
    width: 100%;
}
.input-form{
    display: flex;
    justify-content: space-between;
    padding: 1.15%;
}
.form{
    padding-left: 5%;
    width: 50%;
    height: 10%;
}
.general{
    display: flex;
}
.header{
    padding: 0% 0% 0% 30%;
}
.container{
    padding: 0% 5% 0% 5%;
}