<div class="layout">
    <div class="header">
    <p>Thông tin admin</p>
        <div style="display: flex;">
        <img src="../../../../assets/images/avatar.jpg" style="border-radius:50%; width: 20%; height: 20%;">
        <h1>Nguyen Van A</h1>
        </div>
    </div><hr>
    <div class="container">
        <p>Xử lý yêu cầu</p>
        <div class="general">
            <div class="form">
                <div class="input-form">
                    <p style="color: black;">Họ và tên</p>
                    <input style="width: 50%;height: auto;float: right;" type="text">
                </div>
                <div class="input-form">
                    <p style="color: black;">Bằng cấp</p>
                    <input style="width: 50%;float: right;" type="text">
                </div>
                <div class="input-form">
                    <p style="color: black;">Cấp bậc giảng dạy</p>
                    <input style="width: 50%;float: right;" type="text">
                </div>
                <div class="input-form">
                    <p style="color: black;">Giới thiệu thêm</p>
                    <input style="width: 50%;float: right;" type="text">
                </div>
            </div>
            <div class="button">
                    <button mat-button color="primary">submit</button>
            </div>
        </div>
    </div>
</div>