<div *ngIf="this.auth.user">
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>QDT Admin</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="../../../assets/img/user.jpg" alt=""
                        style="width: 40px; height: 40px;">
                    <div
                        class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                    </div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">{{this.auth.user.displayName}} </h6>
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a routerLink="Dashboard" class="nav-item nav-link active"><i
                        class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
                <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>

            </div>
        </nav>
    </div>
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">


                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="../../../assets/img/user.jpg" alt=""
                            style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">{{this.auth.user.displayName}} </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a class="dropdown-item">My Profile</a>
                        <a class="dropdown-item">Settings</a>
                        <a (click)="this.auth.user.logout()" routerLink="" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-danger"></i>
                        <div class="ms-3">
                            <p class="mb-2">Gia Sư</p>
                            <h6 class="mb-0">200</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-success"></i>
                        <div class="ms-3">
                            <p class="mb-2">Học Viên</p>
                            <h6 class="mb-0">1000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Doanh thu</p>
                            <h6 class="mb-0">$1234</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-info"></i>
                        <div class="ms-3">
                            <p class="mb-2">Tổng lượt đăng ký</p>
                            <h6 class="mb-0">1200</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->


        <!-- Customer table Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Danh sách Gia Sư</h6>
                    <a href="">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">Ngày</th>
                                <th scope="col">Email</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Phí dạy thêm</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.ListItem">
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>{{fullday}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.name}}</td>
                                <td> 200.000VND</td>
                                <td>Free</td>
                                <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                            </tr>





                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Customer table End -->


        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Danh sách Khách hàng</h6>
                    <a href="">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">Ngày</th>
                                <th scope="col">Email</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.ListUser">
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>{{fullday}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.name}}</td>
                                <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Danh sách Yêu cầu</h6>
                    <a href="">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col">Tên</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Địa Chỉ</th>
                                <th scope="col">Lương</th>
                                <th scope="col">hình thức dạy</th>
                                <th scope="col">yêu cầu</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.ListOrder">
                                <td><input class="form-check-input" type="checkbox"></td>
                                <td>{{item.name}}</td>
                                <td>{{item.phoneNumber}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.salary|number}} vnd</td>
                                <td>{{item.status}}</td>
                                <td>{{item.req}}</td>
                                <td><a class="btn btn-sm btn-primary" (click)="Duyet(item)">Duyệt</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Widgets Start -->
        <div class="container-fluid pt-4 px-4">

            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="h-100 bg-light rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Calender</h6>
                        <a href="">Show All</a>
                    </div>
                    <div id="calender">
                        <div class="bootstrap-datetimepicker-widget usetwentyfour">
                            <ul class="list-unstyled">
                                <li class="show">
                                    <div class="datepicker">
                                        <div class="datepicker-days">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th class="prev" data-action="previous"><span
                                                                class="fa fa-chevron-left"
                                                                title="Previous Month"></span></th>
                                                        <th class="picker-switch" data-action="pickerSwitch" colspan="5"
                                                            title="Select Month">June 2022</th>
                                                        <th class="next" data-action="next"><span
                                                                class="fa fa-chevron-right" title="Next Month"></span>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th class="dow">Su</th>
                                                        <th class="dow">Mo</th>
                                                        <th class="dow">Tu</th>
                                                        <th class="dow">We</th>
                                                        <th class="dow">Th</th>
                                                        <th class="dow">Fr</th>
                                                        <th class="dow">Sa</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-action="selectDay" data-day="05/29/2022"
                                                            class="day old weekend">29</td>
                                                        <td data-action="selectDay" data-day="05/30/2022"
                                                            class="day old">30</td>
                                                        <td data-action="selectDay" data-day="05/31/2022"
                                                            class="day old">31</td>
                                                        <td data-action="selectDay" data-day="06/01/2022" class="day">1
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/02/2022" class="day">2
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/03/2022" class="day">3
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/04/2022"
                                                            class="day weekend">4</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-action="selectDay" data-day="06/05/2022"
                                                            class="day weekend">5</td>
                                                        <td data-action="selectDay" data-day="06/06/2022" class="day">6
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/07/2022" class="day">7
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/08/2022" class="day">8
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/09/2022" class="day">9
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/10/2022" class="day">10
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/11/2022"
                                                            class="day weekend">11</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-action="selectDay" data-day="06/12/2022"
                                                            class="day weekend">12</td>
                                                        <td data-action="selectDay" data-day="06/13/2022" class="day">13
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/14/2022" class="day">14
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/15/2022" class="day">15
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/16/2022" class="day">16
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/17/2022" class="day">17
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/18/2022"
                                                            class="day weekend">18</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-action="selectDay" data-day="06/19/2022"
                                                            class="day weekend">19</td>
                                                        <td data-action="selectDay" data-day="06/20/2022" class="day">20
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/21/2022" class="day">21
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/22/2022" class="day">22
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/23/2022" class="day">23
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/24/2022" class="day">24
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/25/2022"
                                                            class="day weekend">25</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-action="selectDay" data-day="06/26/2022"
                                                            class="day weekend">26</td>
                                                        <td data-action="selectDay" data-day="06/27/2022" class="day">27
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/28/2022" class="day">28
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/29/2022" class="day">29
                                                        </td>
                                                        <td data-action="selectDay" data-day="06/30/2022"
                                                            class="day active today">30</td>
                                                        <td data-action="selectDay" data-day="07/01/2022"
                                                            class="day new">1</td>
                                                        <td data-action="selectDay" data-day="07/02/2022"
                                                            class="day new weekend">2</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-action="selectDay" data-day="07/03/2022"
                                                            class="day new weekend">3</td>
                                                        <td data-action="selectDay" data-day="07/04/2022"
                                                            class="day new">4</td>
                                                        <td data-action="selectDay" data-day="07/05/2022"
                                                            class="day new">5</td>
                                                        <td data-action="selectDay" data-day="07/06/2022"
                                                            class="day new">6</td>
                                                        <td data-action="selectDay" data-day="07/07/2022"
                                                            class="day new">7</td>
                                                        <td data-action="selectDay" data-day="07/08/2022"
                                                            class="day new">8</td>
                                                        <td data-action="selectDay" data-day="07/09/2022"
                                                            class="day new weekend">9</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="datepicker-months" style="display: none;">
                                            <table class="table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="prev" data-action="previous"><span
                                                                class="fa fa-chevron-left" title="Previous Year"></span>
                                                        </th>
                                                        <th class="picker-switch" data-action="pickerSwitch" colspan="5"
                                                            title="Select Year">2022</th>
                                                        <th class="next" data-action="next"><span
                                                                class="fa fa-chevron-right" title="Next Year"></span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="7"><span data-action="selectMonth"
                                                                class="month">Jan</span><span data-action="selectMonth"
                                                                class="month">Feb</span><span data-action="selectMonth"
                                                                class="month">Mar</span><span data-action="selectMonth"
                                                                class="month">Apr</span><span data-action="selectMonth"
                                                                class="month">May</span><span data-action="selectMonth"
                                                                class="month active">Jun</span><span
                                                                data-action="selectMonth" class="month">Jul</span><span
                                                                data-action="selectMonth" class="month">Aug</span><span
                                                                data-action="selectMonth" class="month">Sep</span><span
                                                                data-action="selectMonth" class="month">Oct</span><span
                                                                data-action="selectMonth" class="month">Nov</span><span
                                                                data-action="selectMonth" class="month">Dec</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="datepicker-years" style="display: none;">
                                            <table class="table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="prev" data-action="previous"><span
                                                                class="fa fa-chevron-left"
                                                                title="Previous Decade"></span></th>
                                                        <th class="picker-switch" data-action="pickerSwitch" colspan="5"
                                                            title="Select Decade">2020-2029</th>
                                                        <th class="next" data-action="next"><span
                                                                class="fa fa-chevron-right" title="Next Decade"></span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="7"><span data-action="selectYear"
                                                                class="year old">2019</span><span
                                                                data-action="selectYear" class="year">2020</span><span
                                                                data-action="selectYear" class="year">2021</span><span
                                                                data-action="selectYear"
                                                                class="year active">2022</span><span
                                                                data-action="selectYear" class="year">2023</span><span
                                                                data-action="selectYear" class="year">2024</span><span
                                                                data-action="selectYear" class="year">2025</span><span
                                                                data-action="selectYear" class="year">2026</span><span
                                                                data-action="selectYear" class="year">2027</span><span
                                                                data-action="selectYear" class="year">2028</span><span
                                                                data-action="selectYear" class="year">2029</span><span
                                                                data-action="selectYear" class="year old">2030</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="datepicker-decades" style="display: none;">
                                            <table class="table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="prev" data-action="previous"><span
                                                                class="fa fa-chevron-left"
                                                                title="Previous Century"></span></th>
                                                        <th class="picker-switch" data-action="pickerSwitch"
                                                            colspan="5">2000-2090</th>
                                                        <th class="next" data-action="next"><span
                                                                class="fa fa-chevron-right" title="Next Century"></span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="7"><span data-action="selectDecade"
                                                                class="decade old"
                                                                data-selection="2006">1990</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2006">2000</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2016">2010</span><span
                                                                data-action="selectDecade" class="decade active"
                                                                data-selection="2026">2020</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2036">2030</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2046">2040</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2056">2050</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2066">2060</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2076">2070</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2086">2080</span><span
                                                                data-action="selectDecade" class="decade"
                                                                data-selection="2096">2090</span><span
                                                                data-action="selectDecade" class="decade old"
                                                                data-selection="2106">2100</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                                <li class="picker-switch accordion-toggle"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Widgets End -->




</div>