<div class="home-layout">
    <div class="header">
      <p style="text-align: center; font-size: x-large;">Chào mừng các bạn đã đến với QDT trang thuê giáo sư uy tín</p>
      <img src="../../../../assets/images/giao-vien-gia-su.jpg" style="width: 100%; height: 50%;">
    </div>
    <div class="footer">
      <p style="text-align: center; font-size: x-large;">Đối tác của QDT</p>
      <div class="image">
        <img
          src="../../../../assets/images/hoc-phi-dai-hoc-hoa-sen1.jpg"
          style="
            border-style: solid;
            width: 18.1%;
            height: 18.1%;
            margin-left: 5%;
            margin-right: 5%;
          "
        />
        <img
          src="../../../../assets/images/download.jpg"
          style="border-style: solid; margin-right: 5%;"
        />
        <img
          src="../../../../assets/images/download (1).jpg"
          style="border-style: solid; margin-right: 5%;"
        />
        <img
          src="../../../../assets/images/logo-vietinbank.jpg"
          style="border-style: solid; width: 50%; height: auto; margin-right: 5%;"
        />
      </div>
    </div>
    <div class="button">
      <button mat-raised-button color="primary">
        Đăng ký để nhận tư vấn miễn phí
      </button>
    </div>
  </div>
  