<mat-toolbar class="background_color">

    <span style="padding-left: 50px;">QDT TURTOR</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['']" style="margin-left: 10%;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>home</mat-icon>
          <span style="padding-left: 5px;">Trang Chủ</span>
        </button>


    <button routerLink="/customer" style="margin-left: 10%;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <p style="padding-top: 10px;">Tìm gia sư</p>
        </button>

    <button routerLink="/Tutor-seeking" style="margin-left: 5px;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <p style="padding-top: 10px;">Dành cho gia sư</p>
        </button>

    <button  (click)="openC()" style="margin-left: 5px;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <p style="padding-top: 10px;">Nhu cầu khách hàng</p>
        </button>

        <button *ngIf="!this.auth.user" (click)="openSI()"style="margin-left: 6%;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>account_circle</mat-icon>
          <span style="padding-left: 5px;">Đăng nhập</span>
        </button>
        <div class="circle" *ngIf="this.auth.user" >
          <img  [src]="this.auth.user.photoURL" ></div>

</mat-toolbar>