<mat-toolbar class="background_color">

    <span style="padding-left: 50px; color: white;">QDT TURTOR</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['']" style="margin-left: 10%; color: white;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon >home</mat-icon>
          <span style="padding-left: 5px;">Trang Chủ</span>
        </button>


    <button routerLink="/customer" style="margin-left: 10%; color: white;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <p style="padding-top: 10px;">Tìm gia sư</p>
        </button>

    <button routerLink="/Tutor-seeking" style="margin-left: 5px; color: white;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <p style="padding-top: 10px;">Dành cho gia sư</p>
        </button>

    <button (click)="openC()" style="margin-left: 5px; color: white;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <p style="padding-top: 10px;">Nhu cầu khách hàng</p>
        </button>

    <button *ngIf="!this.auth.user" (click)="openSI()" style="margin-left: 6%;" mat-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>account_circle</mat-icon>
          <span style="padding-left: 5px;">Đăng nhập</span>
        </button>
    <div (click)="openUpdateTutorProfile()" class="circle" *ngIf="this.auth.user" style="cursor: pointer;  margin-left: 10px;">
        <img *ngIf="this.auth.user.photoURL != null" [src]="this.auth.user.photoURL">
        <img *ngIf="this.auth.user.photoURL == null" src="../../../assets/images/avatar.jpg">


    </div>
    <mat-icon (click)="this.auth.logout()" style="color: white;">exit_to_app</mat-icon>

</mat-toolbar>