<div style="margin: 0%; justify-content: center;">
    <h5 style="font-size: 40px; font-weight: 400; margin: 5% 0 2% 2%; "> Danh sách gia sư</h5>
    <div style="display: flex; border-top: 5px solid; border-bottom: 3px solid; justify-content: center;">
        <div style="justify-content: center; margin: 2%">
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style=" ">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>


        </div>

        <div class="example-button-container" style="display: grid; margin: 2%;">
            <button mat-fab color="" aria-label="Example icon button with a delete icon">
                    <mat-icon>search</mat-icon>
                </button>
        </div>
    </div>
</div>

<div style="display: grid;;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        ">
    <div class="card" *ngFor="let item of customerSV.items" style="width: 25rem; border: 5px solid; margin: 5rem;">
        <!-- <img [src]="item.photoURL" class="card-img-top"style="margin: 0"> -->
        <div class="card-body">
            <h5 class="card-title" style="font-size: 32px; font-weight: 900;">{{item.name}}</h5>
            <div style="display: flex;">
                <h2>{{item.place}}</h2>
                <div style="height: 35px; background-color:rgb(92, 92, 92); width: 0.5px; border: solid; margin-left: 15px; margin-right: 15px;"></div>
                <h2>{{item.Subject}}</h2>
            </div>
            <p class="card-text">{{item.experience}}</p>
            <a href="#" class="btn btn-primary">Mời dạy</a>
            <a href="#" class="btn btn-primary" style="margin-left: 5px">Xem thông tin</a>
        </div>
    </div>
    

</div>