.select-option {
    background-color: #087161;
    padding-top: 1rem;
    display: flex;
    border-top: 3px solid #5cd3c1;
    border-bottom: 3px solid #5cd3c1;
}

mat-form-field {
    margin-left: 5rem;
}

.product-items {
    height: auto;
    width: 25%;
    background-color: white;
    border: 3px solid;
    border-radius: 10%;
    margin: 6%;
}

.background {
    background-color: #FFFFFF;
}

.img-tutor {
    width: auto;
    height: 25vh;
    margin-top: 5%;
    margin-bottom: 10%;
}

img {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.contents {
    margin: 6%;
}

.body {
    display: flex;
}