<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
    <div class="container">
            <div class="info">
                <div class="footer-widget-title">
                    <h3>About Us</h3>
                </div>
                <div class="footer-widget-content">
                    <p>QDT Tutor đồng hành cùng thế hệ trẻ tương lai. Cung cấp dịch vụ gia sư trên địa bàn cả nước.</p>
                    <div class="footer-social">
                        <i class="fa fa-facebook-square  fa-2x facebook " aria-hidden="true" ></i>
                        <i class="fa fa-instagram fa-2x instagram" aria-hidden="true"  ></i>
                        <i class="fa fa-youtube-play fa-2x youtube" aria-hidden="false"></i>
                    </div>
                </div>
            </div>
            <div class="vl"> </div>
            <div class="content">
            <div class="for-customer">
                <div class="footer-title">
                    <h3>Bạn đang muốn</h3>
                </div>
                <div class="footer-widget-content">
                    <ul class="list-unstyled">
                        <li>
                            <p href="#">Dịch vụ gia sư</p>
                        </li>
                        <li>
                            <p href="#">Dịch vụ tư vấn</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="for-customer">
                <div class="footer-title">
                    <h3>Dành cho gia sư</h3>
                </div>
                <div class="footer-content">
                    <ul class="list-unstyled">
                        <li>
                            <p href="#">Trở thành gia sư</p>
                        </li>
                        <li>
                            <p href="#">Danh sách lớp</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="for-customer">
                <div class="footer-title">
                    <h3>Extra</h3>
                </div>
                <div class="footer-widget-content">
                    <ul class="list-unstyled">
                        <li>
                            <p href="#">Liên hệ </p>
                        </li>
                        <li>
                            <p href="#">Địa chỉ</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
